.tam{
    width:75%;
    margin: auto;
    
}
.btn1{
    background-color: red;
    border-radius: 10%;
    border:none;
    color:white;
    padding: 5px;
    text-decoration: none;
}
.btn2{
    background-color:blue ;
    border-radius: 10%;
    border:none;
    color:white;
    padding: 5px;
    text-decoration: none;
}
.body{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 100px;
}
.nav-link{
    margin-left: 10px;
}